#first{
    background-color: rgb(30,81,108);
    color:white;
    margin-top:-15px;
    height:40px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
   line-height:40px;
}
body{
    margin:0%;
}
#first1{
    display:flex;
    margin-top:20px;
}
#first3{
    height:20px;
    width:80px;
    
}
#first3> button{
    background-color:#222222;
}
#first4>img{
   height:75px;
   width:200px;
   margin-left: -180px;
}
#first5{
    display:flex;
}
#first6>img{
    height:50px;
    width:50px;
    margin-right: 30px;
}
#first7>img{
    height:50px;
    width:50px;
}
#Profile{
    display:flex;
    justify-content: space-around; 
    margin-top:10px;
    margin-left:-40px;
}
#nav{
    display: flex;
   margin-left:300px;
    gap:20px;
    font-size:16px;
    margin-top:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600 ;
   
}
#nav>a{
    text-decoration:none;
    margin-top: 10px;
    color: black;
    
}
#nav>div{
   padding:10px;
   
}
#nav>div:hover{
    background-color: black;
    color: white;
}
#searchbar{
    width:350px;
    height:30px;
    margin-left: -50px;
    font-size: 14px;
    font-style: black;
    
    font-weight: 500;
    border: 1px solid black;
    border-radius: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#greatdrop {
    font-size: 16px;
    border: none;
    outline: none;
   color: black;
   background-color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight:600 ;
  }
  
  #drop{
    position: relative;
    display: inline-block;
  }
  
  #droop{
    display: none;
    position: absolute;
    background-color: #cac0c0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #droop>a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #droop>a:hover {background-color: #ddd;}
  
  #drop:hover >#droop {display: block;}

  #greatdrop:hover{
      background-color:black;
      color: white;
  }
  